---
layout: page
title: "About Me"
description: "Hey, this is Welt Xing."
header-img: "img/goodnight_liyue.png"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote>
        <p>甄心动惧，敏以敬慎</p>
    </blockquote>

    <p>你好，我是<strong>邢存远</strong>，南京大学人工智能学院大四本科生。

    <p>建此站以记录日常所见，所学与所思。</p>

    <h5>随便写的repository</h5>

    <ul>
        <li><a href="https://github.com/Kaslanarian/libsvm-sc-reading">LibSVM代码解读</a></li><img
            src="https://img.shields.io/github/stars/Kaslanarian/libsvm-sc-reading?style=social" />
        <li><a href="https://github.com/Kaslanarian/PyFyNet">Numpy构建自动微分的神经网络框架(DNN, CNN, RNN...)</a></li>
        <img src="https://img.shields.io/github/stars/Kaslanarian/PyDyNet?style=social" />
        <li><a href="https://github.com/Kaslanarian/PySVM">Numpy实现支持向量机(回归、分类和分布估计)</a></li>
        <img src="https://img.shields.io/github/stars/Kaslanarian/PySVM?style=social" />
        <li><a href="https://github.com/Kaslanarian/PyDT">决策树回归分类及可视化(ID3, C4.5, CART)</a></li>
        <img src="https://img.shields.io/github/stars/Kaslanarian/PyDT?style=social" />
        <li><a href="https://github.com/Kaslanarian/PyNet">Numpy构建的全连接神经网络框架</a></li>
        <img src="https://img.shields.io/github/stars/Kaslanarian/PyNet?style=social" />
        <li><a href="https://github.com/Kaslanarian/liblinear-sc-reading">LibLinear理论和源码解读</a></li>
        <img src="https://img.shields.io/github/stars/Kaslanarian/liblinear-sc-reading?style=social" />
    </ul>

    <h5>文章</h5>

    <ul>
        <li><a
                href="https://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&dbname=CJFDLAST2018&filename=SZTJ201711162&v=5tn1G81hMtw9u7VgF%25mmd2Bgzob0aK4UylHTNuIpdy0lJtkLMowqu%25mmd2B1T0Ds4yWe4lBZ7H">浅谈人工智能在各行业的应用</a>
        </li>
    </ul>

    <h5>比赛</h5>

    <ul>
        <li><a href="https://github.com/Kaslanarian/Kaggle-TPS-June">kaggle TPS June: 12/1171;
            </a>
        </li>
        <li><a
                href="https://www.jsjds.com.cn/Index/article/view-national-article?id=441918">第14届中国大学生计算机设计大赛全国一等奖</a>(组队);
        </li>
        <li>
            <a href="/file/2226946.pdf">2022年美赛Meritorious奖</a>(组队).
        </li>
    </ul>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render() {
        var _hash = window.location.hash;
        // en
        if (_hash == "#en") {
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        } else {
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index) {
        if (index == 0) {
            window.location.hash = "#zh"
        } else {
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: {{ site.gitalk.distractionFreeMode }},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}